<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" th:href="@{/}">Приёмная комиссия</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/main}">Главная</a>
			</li>
			<li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
				<a class="nav-link" th:href="@{/user}">Пользователи</a>
			</li>
			<li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
					Университет
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/faculty}">Факультеты</a>
					<a class="dropdown-item" th:href="@{/speciality}">Специальности</a>
					<a class="dropdown-item" th:href="@{/subject}">Предметы</a>
				</div>
			</li>
			<li class="nav-item" th:if="${session.notAcceptedApps == null ? false : (session.notAcceptedApps.isEmpty() ? false : true)}" sec:authorize="hasAuthority('ADMIN')">
				<a class="nav-link" th:href="@{/application/notAcceptedApps}"><b>Новые заявки</b></a>
			</li>
			<li class="nav-item" th:if="${session.user?.applicant}" sec:authorize="hasAuthority('USER')">
				<a class="nav-link" th:href="@{/application}">
					[[${session.specialities == null ? 'Подать заявку' : (#lists.size(session.specialities) < 5 ? 'Подать заявку' : 'Заявки')}]]
				</a>
			</li>
			<li class="nav-item dropdown" th:if="${session.specialities == null ? false : (session.specialities.isEmpty() ? false : true)}" sec:authorize="hasAuthority('USER')">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"
					th:onclick="viewSpecialitiesByApplicant()">
					Рейтинг-лист
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown" id="specialities"></div>
			</li>
		</ul>
		
		<div class="navbar-nav nav-item" sec:authorize="isAuthenticated()">
			 <a class="nav-link" th:href="@{/user/profile}">
			 <img th:if="${session.user?.applicant?.fileType?.contains('image')}"
			 	th:src="@{data:image/jpeg;base64,__${session.photo}__}" width="35" height="35" style="border-radius: 50%">
				[[${session.user}?${session.user.firstName}:${#authentication.principal.firstName}]]
				[[${session.user}?${session.user.lastName}:${#authentication.principal.lastName}]]
			</a>
		</div>
		<form class="form-inline" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			<input type="hidden" th:name="user" th:value="${session.user?.id}"/>
			<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Выйти</button>
		</form>
	</div>
	<script>
	function viewSpecialitiesByApplicant() {
		var applicant = $("input[name='user']").val();
		var specialities = null;

		if (applicant != null) {	
			jQuery.get('../specialitiesByApplicant', {id: applicant}, function(data) {
				if (data !== '') {
					specialities = data;
				}
			}).done(
				function() {
					var dropdownContent = '';
					jQuery.each(specialities, function(i, value) {
						dropdownContent += "<a class='dropdown-item' href='/ratingList/speciality?id=" + value.id + "'>" + value.title + "</a>"
					});

					$('#specialities').html(dropdownContent);
				});		
		}		
	}	
	</script>
</nav>

</html>