<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  th:with="title='Рейтинг абитуриентов по специальности __${speciality.title}__'">

<th:block th:replace="fragments/common::commonPage(_, ~{::main})">
	<main>
		<h3>[[${title}]]</h3>
		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
					<th scope="col"></th>
					<th scope="col">Имя</th>
					<th scope="col">Фамилия</th>
					<th scope="col">Рейтинговый балл</th>
					<th th:if="${speciality.recruitmentCompleted == true}" scope="col">Статус</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entry, iterStat : ${applicantsRank}">
					<th th:class="${session.user.id == entry.key.user.id}?'table-success'" th:text="${iterStat.count}"/>
					<td th:class="${session.user.id == entry.key.user.id}?'table-success'" th:text="${entry.key.user.firstName}"/>
					<td th:class="${session.user.id == entry.key.user.id}?'table-success'" th:text="${entry.key.user.lastName}"/>
					<td th:class="${session.user.id == entry.key.user.id}?'table-success'" th:text="${#numbers.formatDecimal(entry.value, 3, 2)}"/>
					<td th:class="${session.user.id == entry.key.user.id}?'table-success'" th:if="${speciality.recruitmentCompleted == true}">
						<div th:each="enrolledApplicant : ${enrolledApplicants}" th:if="${enrolledApplicant.id.equals(entry.key.id)}">
							<span class="badge badge-pill badge-success">Принят</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="mt-4"><a th:href="@{${refererURI}}">Назад</a></div>
	</main>
</th:block>

</html>